
.fljs-Line {
    counter-increment:  section;

    &:before {
        color:      #00ff3a;
        position:   absolute;
        left:      -26px;
        padding:    0 3px;
        content:    counter(section);
    }

    .highlight {
        width: 100%;
        display: inline-block;
        background-color: var(--backgroundAccent2);
    }
}

/* TODO: Generic styling */

.hljs-title {	        color: #39ff00;}
.hljs-title.function_ {	color: #65d8ec;}
.hljs-title.class_ {	color: #ff8000;}
.hljs-string {			color: #a6e22e;}
.hljs-number {			color: #ece516;}
.hljs-attr {			color: #f92672;}
.hljs-keyword {			color: #7339ff;}
.hljs-function {		color: #65d8ec;}
.hljs-params {			color: #ff9e0f;}
.hljs-selector-tag{		color: #f92672;}
.hljs-selector-pseudo {	color: #a17cff;}
.hljs-selector-id {		color: #65d8ec;}
.hljs-tag {				color: #ccfffa;}
.hljs-name {			color: #f92672;}
.hljs-selector-class {	color: #ffc36a;}
.hljs-attribute {		color: #a59f85;}
.hljs-property {		color: #f92672;}
.hljs-literal {			color: #a17cff;}
.hljs-comment {			color: #33333a;}
.hljs-variable {		color: #ff8000;}
.hljs-built_in {	    color: #e77cff;}

.hljs-doctag {          color: #4aa92d;} // for firefox;
.hljs-comment:has(> .hljs-doctag) {      // for everything else;
                        color: #4aa92d !important;}
.highlight .hljs-comment {
                        color: #39ff00!important;}

/* TODO: html specific styling */

.language-html {
    .hljs-built_in {	color: #ff9e0f;}
    .hljs-keyword {	    color: #e77cff;}
    .hljs-attr {		color: #65d8ec;}}

/* TODO: javascript specific styling */

.language-typescript {
    .hljs-keyword {	    color: #7339ff;}
    .hljs-string {		color: #ff8000;} }