de {
    background-color:   var(--acctColour);
    color:              white;

    padding:        2px 6px;
    margin:        -2px 4px -6px 24px;
    border-radius:  5px;

    transition:     margin 0.5s, opacity 0.5s;
    opacity:        0;
    font-size:      13px;
    text-transform: lowercase;

    pointer-events: none;
    position:   absolute;
    display:    inline;}
de:before {
    content:        "🢐";
    margin-left:   -10px;
    position:       absolute;
    color:          var(--acctColour);}

p:hover de, b:hover de  {
    margin:        -2px 4px -6px 6px;
    opacity:        1;}

b:hover de, a:hover > b de {
    margin:    -2px 4px -6px 6px;
    opacity:    1;}