
@import 'styles/evangelion.scss';

/* Root variables formatting */
:root {
	--accent2: 		#7553ff;
	--darkAccent2: 	#261479;
	--darkAccent1: 	#0d503d;
	--accent1: 		#10ffd6;
	--accent3: 		#ffac2b;
	--darkAccent3: 	#e95000;
	--darkAccent4: 	#d00000;
	--accent4:		#f11249;

	--background:           #000;
	--backgroundTrans:      rgba(0, 0, 0, 0.8);
	--backgroundAccent1: 	#323232;
	--backgroundAccent2: 	#141414;
	--textColour: 			#efefef;
	--textColourInvert:	 	#000;

	--maxWidth: 		1080px;
	--contentPaddingX: 	15px;
	--contentPaddingY: 	10px;
	--containerPadding: 15px;

	--imageSpacing:		5px;
	--imageBlurring: 	3px;

	--textPaddingAccent:    3px;
	--textRadiusAccent:     3px;
}

/* document formatting */

.flex {
	gap: unset!important; //this is already done with my own containers.
}

body {
	min-height: 100vh;
	margin: 	0;

	background:		#000;
	font-family:    "Arimo", sans-serif;
	color:	 		var(--textColour);

	scroll-behavior: 	smooth;
	cursor: 			crosshair;

	scrollbar-color:    var(--accent1) transparent;
	scrollbar-width:    thin;

	&::-webkit-scrollbar {
		width: 			var(--innerRaidus);}
	&::-webkit-scrollbar-track {
		background: 	var(--backgroundAccent2);}
	&::-webkit-scrollbar-thumb {
		border-radius: 	2px;
		border: 		1px solid var(--background);
		background: 	var(--accent3);}
	&::-webkit-scrollbar-thumb:hover {
		background: 	var(--darkAccent1);}

	::selection {
		color:              var(--textColourInvert);
		background-color: 	var(--accent1);}

	.selectionInv::selection {
		color:              var(--accent1);
		background-color:   var(--textColourInvert);
	}
}

/* style formatting */

a {
	text-decoration: none;
	color: initial; // prevents colour changing on page load
}

p {
	font-size:      14px;
	line-height:    100%;
	color:	 		var(--textColour);
	margin: 		0;
}

pant {
	font-size:      14px;
	line-height:    100%;
	color:	 		var(--textColour);
	margin: 		0;
	display:        inline-block;
}
span {
	font-size:      12px;
	margin:         0;
}

.inline {
	white-space: nowrap!important;
}

blockQuote {
	font-family:    Georgia, sans-serif;
	line-height:    100%;

	&:before {
		color: 		var(--textColour)!important;
		content: 	open-quote;}
	&:after {
		color: 		var(--textColour)!important;
		content: 	close-quote;}
}

cite {
	font-family:    monospace;
	font-style:     normal;
	text-transform: uppercase;
	letter-spacing: 0.15em;

	font-size:      12px;
	line-height:    100%;
}

h1, h2, h3, h4, h5 {
	vertical-align: middle;
	font-family:    "Playfair Display", serif;
	line-height:    100%;

	color:          var(--textColour);

	position:   relative;
	margin:     0;
	padding:    0;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.75rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
h5 {font-size: 1.1rem;}

.capitalize {
	text-transform: uppercase;
}

/* mark formatting */

@mixin customFontColour($colour){
	color:          $colour;
	&::selection {
		background-color: 	$colour!important;}}

strong {
	font-weight: 	bolder;
	@include customFontColour(var(--accent2));}

accent {
	@include customFontColour(var(--accent4));}

sub, sup {
	font-size: 0.6em;
	line-height: 100%;}

/* list formatting */

ul {

	li {
		padding: 0 0 5px 5px;
		line-height: 100%;

		&::marker {
			font-weight: 	700;
			line-height: 	100%;
			vertical-align: middle;
			font-size: 	   .85em;
		}
	}

	&.bullet li {
		&::marker {
			color: 	var(--accent1);} }
	&.number li {
		list-style-type: 	decimal;
		&::marker {
			color: 	var(--accent3);}}
	&.numeral li {
		list-style-type: 	lower-roman;
		&::marker {
			color: 	var(--accent4);}}
	&.letter li {
		list-style-type: 	lower-latin;
		&::marker {
			color: 	var(--accent2);}}
}

.nsfw {
	transition: filter .15s ease-in-out;
	filter:     blur(25px);

	&:hover {
		filter: blur(0);}
}

/* layout animation presetting */

/* TODO: GENERIC */
@keyframes gradient {
	0% {    background-position: 0%   50%;}
	50% {   background-position: 100% 50%;}
	100% {  background-position: 0%   50%;}}

@keyframes wiggle {
	0% {    transform: rotate(-3deg);}
	50% {   transform: rotate(3deg) ;}
	100% {  transform: rotate(-3deg);}}

@keyframes fadein {
	0% { 	opacity: 0;}
	100% { 	opacity: 1;}}

@keyframes fadeout {
	0% { 	opacity: 1;}
	100% { 	opacity: 0;}}

/* TODO: STYLE SPECIFIC */
@keyframes wave-text{
	50%{    transform: translateY(0);}
	60%{    transform: translateY(-5px);}
	70%{   transform: translateY(0);}
}