
@import 'styles/vansche.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Root variables formatting */

:root {
	--accent1: 	#3aecb4;
	--darkAccent1: #0d503d;
	--accent2: 	#7553ff;
	--darkAccent2: #261479;
	--accent3: 	#ff9900;
	--darkAccent3: #734400;
	--accent4:	#f92672;
	--darkAccent4: #670f30;

	--borderColor: 		var(--accent3);
	--background: 		#000;
	--backgroundAccent1: #1d1d1f;
	--backgroundAccent2: #0a0a0a;
	--textColour: 		#fff;
	--textColourInvert: #000;

	--fadedColour: 		#d8d5d5;
	--fadedColourAcc: 	#c5c5c5;

	--textInverted: 	#fff;
	--linkColour: 		#fff;


	--maxWidth: 		450px;
	--contentPaddingX: 	15px;
	--contentPaddingY: 	10px;
	--containerPadding: 15px;

	--border-thickness: 1px;
	--innerRaidus: 		4px;
	--outerRadius: 		8px;
}

/* document formatting */

body {
	min-height: 100vh;
	margin: 	0;
	background:	#000;
	font-family: 		'Courier New', sans-serif;
	cursor: crosshair;
	color: var(--textColour);
}

/* style formatting */

p {
	line-height:    100%;
	height: 		100%;
	margin: 		0;}
.postBody > *:last-child {
	padding: 0;
}

h1, h2, h3, h4 {
	text-transform: capitalize;
	font-family: 	'Oswald', sans-serif;
	line-height: 	120%;

	border-left: 	5px solid var(--accent1);
	margin:			0 0 var(--contentPaddingY) calc(var(--contentPaddingX) * -1);
	padding:	 	0 0 0 20px;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.75rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}

::selection {
	color: 				var(--background);
	background-color: 	var(--accent1)}

/* mark formatting */

strong {
	font-weight: 800;
	line-height: 100%;}

blockquote {
	padding: 	3px 6px 3px 6px;
	margin: 	0 5px 10px 5px;
	font-style: italic;
	border-radius: 		5px;
	border: 			1px solid #4d122a;
	border-left: 		1px solid var(--accent4);
	background-color: 	var(--backgroundAccent2);}
blockquote:before {
	color: 		var(--fadedColourAcc);
	content: 	open-quote;
	font-size: 	2em;
	margin-right: 	0.15em;
	margin-left:   -0.15em;
	line-height: 	0.1em;
	vertical-align:-0.2em;}
blockquote:after {
	margin: 	0.80em 0.00em -0.15em 0.05em;

	color: 			var(--fadedColourAcc);
	content: 		close-quote;
	float: 			right;
	font-size: 		2em;
	line-height: 	0.05em;}

sub, sup {	font-size: 0.6em;}

/* list formatting */

ul {
	margin: 	0;
	padding: 	0 10px 5px 32px}

ul li {
	padding: 0 0 5px 5px;
	line-height: 100%;}
ul li::marker {
	font-family: 	"Poppins";
	font-weight: 	700;
	line-height: 	100%;
	vertical-align: middle;
	font-size: 	   .85em;
	width: 			1em;}

ul.bullet 	li::marker {content: 	"● ";}
ul.number 	li {list-style-type: 	decimal;}
ul.numeral 	li {list-style-type: 	lower-roman;}
ul.letter 	li {list-style-type: 	lower-latin;}
ul.letter 	li {list-style-type: 	lower-latin;}

ul.bullet 	li::marker {color:	var(--accent1);}
ul.number 	li::marker {color:	var(--accent3);}
ul.numeral 	li::marker {color: 	var(--accent4);}
ul.letter 	li::marker {color: 	var(--accent2);}

/* general animation presetting */

@keyframes gradient {
	0% {    background-position: 0%   50%;}
	50% {   background-position: 100% 50%;}
	100% {  background-position: 0%   50%;}}

@keyframes wiggle {
	0% {    transform: rotate(-3deg);}
	50% {   transform: rotate(3deg) ;}
	100% {  transform: rotate(-3deg);}}

@keyframes fadein {
	0% { 	opacity: 0;}
	100% { 	opacity: 1;}}

@keyframes fadeout {
	0% { 	opacity: 1;}
	100% { 	opacity: 0;}}