
@import 'styles/vansche.scss';
@import 'styles/evangelion.scss';

/* Root variables formatting */
:root {
	--accent2: 		#7553ff;
	--darkAccent2: 	#261479;
	--darkAccent1: 	#0d503d;
	--accent1: 		#10ffd6;
	--accent3: 		#ffac2b;
	--darkAccent3: 	#e95000;
	--darkAccent4: 	#d00000;
	--accent4:		#f11249;

	--background:           #000;
	--backgroundTrans:      rgba(0, 0, 0, 0.8);
	--backgroundAccent1: 	#323232;
	--backgroundAccent2: 	#141414;
	--textColour: 			#efefef;
	--textColourInvert:	 	#000;

	--fadedColour:      #7e7e7e;
	--fadedColourAcc: 	#c5c5c5;
	--dropShadow:       rgba(0, 0, 0, 0.5);

	--maxWidth: 		1080px;
	--contentPaddingX: 	15px;
	--contentPaddingY: 	10px;
	--containerPadding: 15px;   --containerPaddingInv: -15px;

	--imageSpacing:		5px;
	--imageBlurring: 	3px;

	--innerRaidus: 		0px;
	--outerRadius: 		0px;
}

/* document formatting */

body {
	min-height: 100vh;
	margin: 	0;

	background:		#000;
	font-family: 	'Courier New', sans-serif;
	color:	 		var(--textColour);

	scroll-behavior: 	smooth;
	cursor: 			crosshair;

	scrollbar-color:    var(--accent1) var(--backgroundAccent2);
	scrollbar-width:    thin;

	&::-webkit-scrollbar {
		width: 			var(--innerRaidus);}
	&::-webkit-scrollbar-track {
		background: 	var(--backgroundAccent2);}
	&::-webkit-scrollbar-thumb {
		border-radius: 	2px;
		border: 		1px solid var(--background);
		background: 	var(--accent1);}
	&::-webkit-scrollbar-thumb:hover {
		background: 	var(--darkAccent1);}

	::selection {
		color: 				var(--background);
		background-color: 	var(--accent1)}
}

/* style formatting */

a {
	text-decoration: none;
	color: var(--accent3);
}

p {
	font-size:      14px;
	line-height:    100%;
	color:	 		var(--textColour);
	margin: 		0;
}

span {
	font-size:      12px;
	line-height:    100%;
	margin:         0;
}

.inline {
	white-space: nowrap!important;
}

blockQuote {
	font-family:    Georgia, sans-serif;
	line-height:    100%;

	&:before {
		color: 		var(--textColour)!important;
		content: 	open-quote;}
	&:after {
		color: 		var(--textColour)!important;
		content: 	close-quote;}
}

cite {
	font-family:    monospace;
	font-style:     normal;
	text-transform: uppercase;
	letter-spacing: 0.15em;

	font-size:      12px;
	line-height:    100%;
}

h1, h2, h3, h4, h5 {
	vertical-align: middle;
	font-family:    Arial, sans-serif;
	line-height:    100%;

	color:          var(--textColour);
	padding-bottom: var(--containerPadding);

	position:   relative;
	margin:     0;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.75rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
h5 {font-size: 1.1rem;}

.capitalize {
	text-transform: uppercase;
}

/* mark formatting */

strong {
	color:          var(--accent2);
	font-weight: 	bolder;

	&::selection {
		background-color: 	var(--accent2)!important;
	}
}

accent {
	color: var(--accent4);

	&::selection {
		background-color: 	var(--accent4)!important;
	}
}

sub, sup {
	font-size: 0.6em;
	line-height: 100%;}

/* list formatting */

ul {

	li {
		padding: 0 0 5px 5px;
		line-height: 100%;

		&::marker {
			font-weight: 	700;
			line-height: 	100%;
			vertical-align: middle;
			font-size: 	   .85em;
			width: 			1em;
		}
	}

	&.bullet li {
		&::marker {
			color: 	var(--accent1);} }
	&.number li {
		list-style-type: 	decimal;
		&::marker {
			color: 	var(--accent3);}}
	&.numeral li {
		list-style-type: 	lower-roman;
		&::marker {
			color: 	var(--accent4);}}
	&.letter li {
		list-style-type: 	lower-latin;
		&::marker {
			color: 	var(--accent2);}}
}

.GalleryCite {
	margin: 0 var(--contentPaddingX) var(--contentPaddingY) var(--contentPaddingX);

	span {
		color: var(--fadedColour);
	}
}

/* layout animation presetting */

/* TODO: GENERIC */
@keyframes gradient {
	0% {    background-position: 0%   50%;}
	50% {   background-position: 100% 50%;}
	100% {  background-position: 0%   50%;}}

@keyframes wiggle {
	0% {    transform: rotate(-3deg);}
	50% {   transform: rotate(3deg) ;}
	100% {  transform: rotate(-3deg);}}

@keyframes fadein {
	0% { 	opacity: 0;}
	100% { 	opacity: 1;}}

@keyframes fadeout {
	0% { 	opacity: 1;}
	100% { 	opacity: 0;}}

/* TODO: STYLE SPECIFIC */
@keyframes wave-text{
	50%{    transform: translateY(0);}
	60%{    transform: translateY(-5px);}
	70%{   transform: translateY(0);}
}